<html>
<head>
    <meta charset="utf-8">
    <title>Card Game</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<form class="modal-login animate">
    <div class="col-md-2" style="float: left;" ng-click="Login()"><a>LOGIN</a></div>
    <div class="imgcontainer col-md-12">
        <div class="col-md-5">
            <label ng-if="!selectedPhotoNumber[0]" class="file-upload-container" >
                <input  style="display:none;">
                     <img class="avatar" src="img/images.jpeg"
                     />
                 </label>
            <label ng-if="selectedPhotoNumber[0]" class="file-upload-container" >
                <input  style="display:none;">
                     <img  class="avatar" src="{{selectedPhotoNumber[0]}}"
                     />
                <input type="radio" name="gender" value="other" ng-model="value" ng-change="RadioChange(1)"> make profile <br>
            </label>
        </div>

        <div class="col-md-5">
            <label ng-if="!selectedPhotoNumber[1]" class="file-upload-container" f>
                <input  style="display:none;">
                     <img  class="avatar" src="img/images.jpeg"
                     />
            </label>
            <label ng-if="selectedPhotoNumber[1]" class="file-upload-container" for="file-upload">
                <input  style="display:none;">
                     <img  class="avatar" src="{{selectedPhotoNumber[1]}}"
                     />
                <input type="radio" name="gender" value="other" ng-model="value" ng-change="RadioChange(2)">make profile <br>
            </label>
        </div>

        <div class="col-md-2">
                 <input ng-dissabled="true" style="width: 158px;font-size: 28px;border: 2px solid #888;" for="file-upload" id="file-upload" type="file" id="img-preview"></input>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class=" col-md-12">
                <div class=" col-md-6">
                    <label for="uname"><b>Name</b></label>
                    <input class="updateButton" type="text" placeholder="Enter Name" ng-model="user.name" required>
                </div>

                <div class="col-md-6">
                    <label for="psw"><b>Age</b></label>
                    <input  type="number" placeholder="Enter Age" ng-model="user.age" required>
                </div>
            </div>
            <div class=" col-md-12">
                 <span class=" col-md-4" ng-repeat="skill in userSkill">
                   .{{skill}}
                 </span>
            </div>

            <div class=" col-md-12">
                <div class=" col-md-8">
                    <input class="updateButton" type="text" placeholder="Enter skill" ng-model="userskill" >
                </div>

                <div class="col-md-2">
                    <button ng-click="addSkill()" class="updateButton">Add skill</button>
                </div>
            </div>


            <div class="container">
                <button ng-click="loginUser()" class="updateButton">CREATE ACCOUNT</button>

            </div>
</form>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>
